# MySQL Configuration (Source)
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DBNAME=Readsmart

# PostgreSQL Configuration (Target)
PG_USER=postgres
PG_PASSWORD=your_password_here
PG_HOST=localhost
PG_PORT=5432
PG_DBNAME=Readsmart

# Flask Configuration
SECRET_KEY=your_super_secret_key_here
